form.search-room-form.form
    h2.title.form-title Найдём номера под ваши пожелания
    +formDates


    //- +formDates
    //- +formDropdown('гости','Сколько гостей')
    +button('подобрать номер','arrow_forward')(class='button-search-room')