form.search-room-form.form
    h2.title.form-title Найдём номера под ваши пожелания
    +formDates
    include dropdowns/dropdown-guests
    +button('подобрать номер','arrow_forward')(class='button-search-room')